.progress-bar { 
  padding-left: 20px;
  padding-right: 20px;
}

.pop-up-content .progressbar-inner {
  background-image: none;
  height: 22px;
  background-color: #FA6900;
}

.pop-up-content .progressbar-outer {
  border:none;
  background-color: #FFFFFF;
  height: 24px;
}

.results-line {
  font-size: 13px;
  text-align: center;
}

.pop-up-content {
  padding: 10px 20px;
  background-color: #F7F9F9;
}

.pop-up-content .trying-message{
  font-size:18px;
  text-shadow: none;
  color: rgb(102, 102, 102);
  padding-bottom: 10px;
  padding-top: 30px;
  text-align: center;
}


.centered-text {
  width: 100%;
  text-align: center;
}

.results-line.trying {
  padding-top: 15px;
  padding-bottom: 30px;
}

.results-line .trying-text {
  font-size: 14px;
  color: #9FA2A1;
  padding-bottom: 15px;
}

.code-trying {
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(155, 155, 155);
  display: inline-block;
}

.curr-code {
  color: black;
}

.curr-description {
 color: #9B9B9B;
}

.pop-up-content .cancel {
  display:none;
  color: #BEBEBE;
}

.pop-up-content .cancel:hover {
  color: #989898;
}

#pop-up .pop-up-header {
  padding: 0;
  border-bottom: 1px solid rgb(219, 219, 219);
  }

.logo2 img {
  height: 30px;
    top: 8px;
  left: 20px;
  position: relative;
}