oh-my-zsh
z
cowfiles
*/*.log*
*/*/*/*.log*
vim/bundle
PyCharm40/system
cinnamon/spices.cache
*/gimpswap.*
config/chromium
config/google-chrome
config/pulse
config/xfce4/panel
config/xfce4/desktop
config/xfce4/xfconf
config/thunar

dotfile_overrides
