body {
  border: none;
  margin: 0;
  overflow: hidden;
  font-family: 'avenir','Open Sans',sans-serif;
}

.blue-txt {
  color: #41BAFA;
}

.black-txt {
  color: #000;
}

.orange-txt {
  color: #f7c257;
}

.centered-wrapper {
  display:table;
}

.centered-content {
  vertical-align:middle;
  text-align:center;
  display:table-cell;
}

.notification-content {
  display: inline;
}

.cashback-dialog {
  background-color: #FFF;
  display: inline-block;
}

.apply-title {
  height: 50px;
  background-color: #FFF;
}

.apply-title .honey-logo {
  width: 75px;
  padding-top: 10px;
  padding-left: 20px;
  display: inline-block;
}

.apply-title .close-btn {
  position: absolute;
  top: 9px;
  right: 6px;
  padding: 5px;
  cursor:pointer;
  color: #f7c257;
}

.apply-title .close-btn:active {
  top: 8px;
  right: 5px;
}

.apply-title .automatic-savings-title {
  position:relative;
  bottom: 11px;
  color: #969A98;
  font-weight: 700;
  font-size: 13pt;
}

.gray-border {
  background-color: #F6F6F6;
  padding: 0 18px 18px 18px;
}

.apply-content {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #F6F6F6;
  width: 450px;
}

.apply-content .top-text {
  padding-bottom: 20px;
}

.applying-message {
  font-weight: 700;
  font-size: 15pt;
  color: #969A98;
  padding-bottom: 10px;
}

.apply-description {
  padding-top: 13px;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 13px;
  font-weight: 700;
  text-overflow: ellipsis;
  width: 450px;
}

.best-code {
  display:none;
}

.instacash {
  display:none;
}

.progress-bar {
  height: 40px;
}

.apply-progress-message {

}

.code-number {
  padding-top: 20px;
  min-height: 22px;
}

.progress-circles {
  position: absolute;
  left: 145px;
}

.circle {
  position: absolute;
  display: inline-block;
  top: 10px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #DBDBDB;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.circle.first {
  left: 0px;
}

.circle.second {
  left: 45px;
}

.circle.third {
  left: 90px;
}

.circle.fourth {
  left: 135px;
}

.circle.fifth {
  left: 180px;
}

.circle.active {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 8px;
  margin-left: -2px;
  background-color : #f7c257;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.circle.fill {
  background-color : #E7B20C;
}

.apply-finish-saved {
  display:none;
  vertical-align: baseline;
}

.finish-content {
  margin-top: 34px;
}

.finish-txt {
  font-size: 12pt;
  font-weight: 700;
  padding-bottom: 20px;
}

.saved-txt {
  font-weight:700;
  font-size: 30pt;
}

.saved-cell {
  height: 56px;
  border-top: 1px solid rgb(228, 228, 228);
  text-align: left;
}

.saved-msg {
  padding-top: 13px;
  margin-left: 20px;
}

.saved-cell-amt {
  position: absolute;
  left: 360px;
  font-weight: 700;
  font-size: 14pt;
}



