	
.groupon-negotiate-button {
	background-color: #F08B28;
	border: 2px solid #565656;
	border-radius: 6px;
	cursor:pointer;
	white-space: nowrap;
	height: 30px;
	width:150px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding-right: 7px;
	padding-left: 2px;
	font-weight: normal;
	color: white;
	background-color: #EE8C01;
	border-color: #B95903 #EE8C01 #FF9E01 #EE8C01;
	border-radius: 3px;
	text-transform: none;

	display:table;
}

.groupon-negotiate-button:hover {
	background-color: #F3AD01;
}

.honey-logo {
	height: 20px;
	margin-top: 4px;
	margin-left: 2px;
	display:table-cell;
	vertical-align:middle;
}

.headerDivider {
  border-left: 1px solid #CDCDCD;
	height: 28;
	top: 6px;
	display:table-cell;
	vertical-align:middle;
}

.btn-text {
	font-family: sans-serif;
	font-size: 10pt;
	display:table-cell;
	vertical-align:middle;
}