body {
	margin:0;
  overflow:hidden;
}

.overlay-main {
	width: 340px;	
	background-color: #FFF;
	margin-bottom: 25px;

	font-family:avenir,'Open Sans',sans-serif;
}

.top-bar {
	height: 40px;
	background-color: #F2F4F4;
}
.top-bar .honey-logo {
	height: 30px;
	margin-top: 5px;
}

.top-bar .experiment-icon {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	-webkit-filter: opacity(70%);
	-moz-filter: opacity(70%);
	filter: opacity(70%);
	font-family: "SSStandard";
}

.headerDivider {
  border-left: 1px solid #CDCDCD;
	height: 28;
	position: fixed;
	top: 6px;
}



/* footer */

.footer {
	width: 100%;
	height: 30px;
	background-color: #757C92;
	/*position: fixed; */
	bottom: 0px;
	overflow: visible;
	display: block;
}

.footer .button:hover {
  -webkit-filter: opacity(50%);
  -moz-filter: opacity(50%);
  filter: opacity(50%);
  cursor: pointer;
}

.footer #close {
  font-size: 25px;
  font-weight:900;
  color:#FFF;
  margin-top: -3px;
  margin-left: 6px;
  width: 20px;
  height: 20px;
  position:fixed;
}

#close:active {
  position:fixed;
  margin-top:-2px;
}




/******   groupon content   *******/

.groupon-deal {
	margin-right:14px;
	margin-left:14px;
	margin-top: 6px;
}

.deal-details {
	height:80px;
	display:table;
}

.deal-details .groupon-img{
	height:70px;
	margin-right:10px;
}

.deal-details .groupon-text {
	vertical-align: middle;
	display: table-cell;
	font-size:14px;
	font-weight: 500;
}

.body-divider {
	border-top: 1px solid #CDCDCD;
	margin-top: 8px;
	margin-bottom: 8px;
}

.deal-body {
	height:35px;
	padding-bottom:5px;
}

.deal-body .price-before {
	text-decoration: line-through;
	color:#969A98;
}

.deal-body .price-after {
	padding-left:1px;
	color:#ED7D26;
}

.deal-body .groupon-link {
	color: #FFF;
	float: right;
	font-size:12px;
}

.price-container {
	margin-top:5px;
	position:fixed;
}

.orange-btn {
  display: block;
  margin-bottom: 0;
  font-weight: 500;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  color: #fff;
  line-height: 1.42857143;
  border-radius: 2px;     
  margin: 0 auto;
  text-align: center;
  background-color: #E79126;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.orange-btn:hover {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  background-color: #F3AD01;
  cursor: pointer;
}



/** experimental message block **/

.experiment-feature {
	background-color: #F2F4F4;
	padding: 20 20 10 20;
}

.experiment-details {
	font-size: 12px;
	color: #A3A0A0;
}

.experiment-btns {
	padding-top:10px;
	padding-bottom:10px;
	height:40px;
}

.experiment-btns .tweet {
	border: 2px solid #565656;
	border-radius: 3px;
	width: 130px;
	float: left;
	display: table;
	-webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.experiment-btns .tweet:hover {
	cursor:pointer;
	-webkit-filter: opacity(80%);
	-moz-filter: opacity(80%);
	filter: opacity(80%);

	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
}

.experiment-btns .tweet .ss-icon {
	float: left;
	color: #565656;
	display: table;
	font-size: 19px;
	margin-top: 1px;
	margin-left: 4px;
}

.experiment-btns .tweet-text {
	display: table-cell;
	vertical-align: middle;
}

.experiment-btns .dismiss {
	font-size: 10px;
	float: right;
	position: relative;
	padding-top: 18px;
	text-decoration: underline;
}

.experiment-btns .dismiss:hover{
	cursor:pointer;
}

.experiment-btns .ss-icon { 
  font-family: "SSSocialCircle";
  width:25px;
  height:25px;
  font-size: 14px;
  color:#FFF;
  padding-top:3px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


/*** User Login Modal ***/

.user-content .success-message {
  display:none;
}

.user-content .register-content {
  display:none;
}













