div.stream-item:not(.open) div.tweet.original-tweet div.stream-item-header ul.actions {
	width: 100%;
	padding-left: 0;
	background-image: none;
	text-align: right;
}

div.stream-item:not(.open) div.tweet.original-tweet div.stream-item-header ul.actions li {
	background-color: #fff;
}

.tweet .action-pocket-container .icon-pocket,
.js-stream-item .ProfileTweet-actionList .icon-pocket {
	background-color: #ccd6dd !important;
	background-position: -5px -5px !important;
	background-repeat: no-repeat !important;
	height: 16px;
	position: relative;
	top: 4px;
	width: 16px;
}

.js-stream-item .ProfileTweet .icon-pocket,
.tweet.has-native-media .action-pocket-container .icon-pocket {
	top: 5px;
}

.tweet .action-pocket-container .icon-pocket:hover,
.js-stream-item .ProfileTweet .icon-pocket:hover,
.tweet .action-pocket-container .icon-pocket-saved,
.js-stream-item .ProfileTweet .icon-pocket-saved {
	background-color: #ef4056 !important; 
}

.tweet .action-pocket-container .icon-pocket-saved,
.js-stream-item .ProfileTweet .icon-pocket-saved {
	cursor: default;
}

.tweet:hover .action-pocket-container .icon-pocket,
.permalink .js-stream-tweet .action-pocket-container .icon-pocket {
	background-position: -5px -30px !important;
}

.expanding-stream-item.open .original-tweet:hover .action-pocket-container .icon-pocket,
.permalink-tweet:hover .action-pocket-container .icon-pocket {
	background-position: -5px -5px !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
	.tweet .action-pocket-container .icon-pocket,
	.js-stream-item .ProfileTweet-actionList .icon-pocket {
		-webkit-background-size: 25px 50px !important;
		background-size: 25px 50px !important;
	}
}