<div class="tab" id="instacash-tab">
  <div class="tab-handle waves-effect waves-orange">
    <span class="badge-icon instacash-value">{{instacash_value_text}}</span>
    <span class="title">instant cash available</span>
    <span class="icon right-arrow"></span>
  </div>
  <div class="tab-content instant-cash-zone">
    <div class="percentage instacash-value">
      {{instacash_value_text}}
    </div>
    <div class="ic-prompt">
      instant cash
    </div>
    <button class="activate waves-effect waves-light">
      <span class="text">CLAIM</span> <span class="ss-check"/>
    </button>
    <div class="claimed-msg">
      Buy anything on {{merch_name}} and Honey will save you $1!
    </div>
    <div class='time-message'> 
      <span class="time-remaining">
        <span class="clock-icon ss-clock"></span> 
        <span class="hours"> </span> : 
        <span class="minutes"> </span> :
        <span class="seconds"> </span> 
      </span>
    </div>
    <div class="expires">
      EXPIRES TODAY
    </div>
  </div>
</div>