<div class='border'>
	<div class='content'>
    <div class='notification-content'>
      <span class='centered-content logo'>
        <img class='honey-logo' src='https://storage.googleapis.com/honey-extension/images/assets/honey_logo.png'> </img>
      </span>
      <div class='centered-content cash-notification'>
        <span class='centered-content cashback-offer'>
          <span class='cashback-message'>
    		    <div class='message'><span class='cash-value'>{{cash_value}}</span> instant cash available
            </div>
            <div class='time-message'> 
              <span class="time-remaining">
                <span class="clock-icon ss-clock"></span> 
                <span class="hours"> </span> : 
                <span class="minutes"> </span> :
                <span class="seconds"> </span> 
                <span class="remaining-message">  to claim</span>
              </span>
            </div>
          </span>
        </span>
      </div>
      <span class="centered-content claim-offer hoverable">
        <span class='btn-container'>
          <span class="activate-btn">CLAIM</span>
        </span>
      </span>
      <span class='centered-content close-btn hoverable'> X </span>
    </div>
    <!--  COUPON CODE PAGE VIEW -->
    <div class='cashback-apply-content'>
      <img class='honey-logo' src='https://storage.googleapis.com/honey-extension/images/h.png'></img>
      <span class='automatic-savings-title'> AUTOMATIC SAVINGS </span>
      <span class='close-btn'> X </span>
      <div class='cashback-coupon-page-content centered-wrapper'>
        <div class='centered-content'>
          <div class='honey-apply-message'> Honey will now automatically apply savings for you </div>
          <div class='apply-offer'> 
            <span class='coupon-offer'> 
              <span class='coupon-count'/> COUPONS 
              <span class='plus-sign'> + </span>
            </span>
            <span class='instant-cash-offer'>
              <span class='cash-value'>{{cash_value}}</span> INSTANT CASH
            </span> 
          </div>
          <div class='go-btn-container'>
            <div class='go-btn orange-btn'>GO</div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>