<div class='cashback-dialog'>
  <div class='content'>
    <div class='apply-title centered-wrapper'>
      <img class='honey-logo' src='https://storage.googleapis.com/honey-extension/images/assets/honey_logo.png'></img>
      <span class='centered-content'></span>
      <span class='centered-content close-btn'> x </span>
    </div>
    <div class='gray-border'>
      <div class='apply-content centered-wrapper'>
        <div class='apply-message centered-content'>
          <div class='top-text'>
          <!-- Honey will now automatically apply savings for you    -->
          </div>
          <span class='applying-message'>
<!--             APPLYING  -->
            <span class='current-offer'>
              <span class='coupons'>
                <span class='code-txt'></span>
                <span class='orange-txt'>
                  <span class='best-code'>
                    <span class='black-txt'>BEST CODE</span>
                  </span>
                  <span class='apply-code-progress'>
                    <span class='curr-code'> </span>  
                  </span>
                </span>
              </span>
              <span class='blue-txt instacash'> 
                <span class='cash-value'>5%</span> INSTANT CASH 
              </span>
            </span>
          </span>
          <div class='apply-description'>
          </div>
          <div class='progress-bar'>
            <div class='progress-circles'>
              <div class='circle circ1 first active'/> <div class='circle circ2 second'/> <div class='circle circ3 third'/> <div class='circle circ4 fourth'/> <div class='circle circ5 fifth'/>
            </div>
          </div>
          <div class='apply-progress-message'> applying coupons </div>
          <div class='code-number'> 
            <span class='curr-coup'></span>
            <span class='divider'>/</span>
            <span class='max-coup'></span> 
          </div>
        </div>
        <div class='apply-finish-saved centered-content'>
          <div class='finish-content'>
            <div class='black-txt finish-txt'>
            YOU SAVED 
              <div class='saved-txt orange-txt'>
                $<span class='saved-amt'> </span>
              </div>
            </div>
            <div class='instacash-saved saved-cell'>
              <div class='saved-msg'>
                <span class='saved-cell-txt'> Honey Instant Cash Savings: </span> 
                <span class='saved-cell-amt blue-txt'> 
                  <span class='saved-value'>10</span>%
                </span>
              </div>
            </div>
            <div class='coupon-saved saved-cell'>
              <div class='saved-msg'>
                <span class='saved-cell-txt'> Coupon Code Savings: </span> 
                <span class='saved-cell-amt orange-txt'> 
                  -$<span class='saved-value'>50.00</span> 
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>