<div class='groupon-content'>
	<div class='groupon-deal'>
		<div class='deal-details'>
			<span class='groupon-text'> 
				<img class='groupon-img' src="{{ groupon_img }}"/>
			</span>
			<span class='groupon-text'> {{ groupon_text }} </span>
		</div>
		<div class='body-divider'/>
		<div class='deal-body'>
			<span class='price-container'>
				<span class='price-before'>{{ groupon_price_before }}</span>
				<span class='price-after'>{{ groupon_price_after }}</span>
			</span>
			<span class='groupon-link orange-btn'>VIEW ON GROUPON</span> 
		</div>
	</div>
	<div class='experiment-feature'>
		<div class='experiment-text'>
			This is an experimental feature of Honey
		</div>
		<div class='experiment-details'>
			If you like it, tell us and we'll add it to more stores!
		</div>
		<div class='experiment-btns'>
            <span class="tweet">
            	<span class="ss-icon ss-social-circle ss-twitter"></span>
            	<span class='tweet-text'> Tweet at us </span>
            </span>
			<span class='dismiss'> DISMISS </span>
		</div>
	</div>
</div>