<div class='user-content'>
  <div class='login-content'>
    <div class='login-form'>
      <div class='username'> 
        <input value='username/email'> </input>
      </div>
      <div class='password'>
        <input value='password'> </input>
      </div>
    </div>
    <div class='login-btn orange-btn'> LOGIN </div>
    <div class='signup-btn'> SIGNUP </div>
  </div>
  <div class='success-message'>
    Success
  </div>
  <div class='register-content'>
    <div class='register-form'>
      <div class='username'> 
        <input value='username'> </input>
      </div>
      <div class='email'>
        <input value='email'> </input>
      </div>
      <div class='password'>
        <input value='password'> </input>
      </div>
      <div class='name'>
        <input value='name'> </input>
      </div>
      <div class='register-btn orange-btn'> REGISTER </div>
    </div>
  </div>
</div>