/*
 * This CSS goes onto the welcome page's header
 */

 h1 {
  line-height: 1.2em;
 }

#tutorial-modal {  
  left: 50%;
  margin-left: -220px;
  top: 75px;
  background-color: #F7F9F9;
  z-index: 1000;
  position: fixed;
  height: 480px;
  width: 440px;
  color: #000;
  text-align: center;
  font-size: 13pt;
  z-index: 2000;
} 

#tutorial-modal .tutorial-header {
  background-color: white;
}

#tutorial-modal .honey-logo {
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.centered-wrapper { 
  display : table;
}
.centered-wrapper  .centered-content { 
    display : table-cell;
    vertical-align :  middle;
    width: 100%;
}

.centered { 
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.vertical-wrapper { 
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
}

.vertical-content { 
  margin: auto 5px;
}

.welcome-title {
  padding-top: 25px;
  font-weight: 600;
  font-size: 20pt;
}

.welcome-msg {
  padding-top: 10px;
}

.facebook-btn {
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
}

.facebook-btn .facebook-icon {
  background-image: url("https://storage.googleapis.com/honey-extension/images/facebook-square.png");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  background-size: 60%;
  left: -10;
  position: relative;
}

.facebook-btn .facebook-login-btn {
  height: 40px;
  text-align: center;
  color: #fff;
  background-color: #2d4984;
}

.line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.line.first {
  position: relative;
  top: 28px;
  left: 60px;
  width: 70px;
}
.line.second {
  position: relative;
  top: -26px;
  left: 308px;
  width: 70px;
}

.register {
  padding-top:10px;
}

.form i {
  color: #777;
  left: 10px;
  top: 10px;
  font-size: 22px;
}
.form .prefix.active {
  color: #000;
}
.form label {
  pointer-events: none;
}
.form .input-field input:focus + label {
  color: #5cb9ff;
}
.form .input-field input:focus {
  border:none;
  border-bottom: 1px solid #5cb9ff;
}
.form .input-field input.valid {
  border:none;
  border-bottom: 1px solid #5cb9ff;
}

.form i.prefix {
  color: #777;
  left: 25px;
  top: 15px;
  font-size: 22px;
  position: absolute;
}

.register-form .input-field input {
  width: 280px;
  margin: 0;
  margin-top: 5px;
}

.register-form .input-field label {
  margin-left: 70px;
}

.register-box {
  margin-left: auto;
  margin-right: auto;
  padding-top:25px;
}

.orange-button {
  width: 200px;
  height: 40px;
  text-align: center;
  color: #fff;
  background-color: #f1863c;
  border: 1px solid #e1762c;
  transition: .3s;
}

.orange-button:hover {
  background-color: #FF9B56;
  border: 1px solid #fff;
  transition: .3s;
}

.register-btn.orange-button {
  width: 160px;
  font-size: 15px;
}

.skip-btn {
  margin-top: 20px;
  cursor: pointer;
  color: #777777;
  font-size: 13px;
}

.skip-btn:hover{
  text-decoration: underline;
}

.tos {
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  font-size: 12px;
  color: #777777;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 20px;
}

#tutorial-first {
  display : none;
}

#tutorial-second {
  display : block;
}

.done-title {
  font-size: 21px;
  font-weight: 600;
  margin-top: 30px;
}

.done-copy {
  font-size: 16px;
  color: #777777;
  margin-top: 10px;
}

#demo-img{
  margin-top: 30px;
  width: 120px;
}

#try-honey {
  width: 250px;
  line-height: 50px;
  margin-top: 20px;
  font-size: 15px;
  height: 50px;
}

.demo-text {
  font-size: 14px;
  color: #777777;
  margin-top: 20px;
}

.skip-demo {
  padding-top: 40px;
  cursor: pointer;
  color: #777777;
  font-size: 13px;
}

.skip-demo:hover {
  text-decoration: underline;
}
