/*  ext_signup.css
 *
 *  Description:
 *  With base elements out of the way, this sets all custom styling for the extension.
 *
 *  Contents:
 *  Global
 *  Core detail
 *  Buttons
 *  Responsive
 */

/*=Global
--------------------------------------------------------------------------------------- */
.pkt_ext_containersignup {
    background-color: #fff;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 0.95em 1em 1em;
    padding: 0;
    position: relative;
    right: 0;
    text-shadow: 0;
    text-align: center;
    top: 0;
    width: 21em;
    z-index: 9999999979; 
}
.pkt_ext_containersignup_inactive {
    -moz-animation: pkt_ext_hide 0.3s ease-out;
    -webkit-animation: pkt_ext_hide 0.3s ease-out;
    animation: pkt_ext_hide 0.3s ease-out;
    opacity: 0;
    visibility: hidden;
}
.pkt_ext_cf:after {
    content: " ";
    display:table;
    clear:both;
}
@-webkit-keyframes pkt_ext_hide {
    0% {
        opacity: 1;
        visibility: visible;
    }
    99% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes pkt_ext_hide {
    0% {
        opacity: 1;
        visibility: visible;
    }
    99% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/*=Core detail
--------------------------------------------------------------------------------------- */
.pkt_ext_containersignup .signup-ordivider {
    background: url(../sites/global/signup_or@1x.png) center center no-repeat;
    height: 2em;
    margin: 1.5em auto;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    .pkt_ext_containersignup .signup-ordivider {
        background-image: url(../sites/global/signup_or@2x.png);
        background-size: 246px 27px;
    }
}
.pkt_ext_containersignup .pkt_ext_logo {
    background: url(../sites/global/pocketlogo@1x.png) center center no-repeat;
    display: block;
    height: 42px;
    margin: 40px auto 20px;
    position: relative;
    text-indent: -9999px;
    width: 160px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    .pkt_ext_containersignup .pkt_ext_logo {
        background-image: url(../sites/global/pocketlogo@2x.png);
        background-size: 160px 42px;
    }
}
.pkt_ext_containersignup p {
    font-size: 15px;
    color: #313131;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    margin: 0 auto 1.5em;
    max-width: 250px;
}
.pkt_ext_containersignup .alreadyhave > a { 
    border-bottom: 1px solid #d8d8d8;
    color: #313131;
    font-weight: 700;
}
.pkt_ext_containersignup .alreadyhave {
    font-size: 14px;
    max-width: 320px;
    margin-bottom: 2em;
    margin-top: 20px;
}
.pkt_ext_containersignup .alreadyhave > a {
    text-decoration: none;
}
.pkt_ext_containersignup .alreadyhave > a:hover { 
    color: #5dcfca;
}

/*=Buttons
--------------------------------------------------------------------------------------- */
.pkt_ext_containersignup .btn {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.4);
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.4);
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    -webkit-transition: background-position 0.1s linear;
    background-repeat: repeat-x;
    background-color: #d3505a;
    background-image: -moz-linear-gradient(top, #ee5f64 0%, #d3505a 100%);
    background-image: -webkit-gradient(left top, left bottom, color-stop(0%, #ee5f64), color-stop(100%, #d3505a));
    background-image: -webkit-linear-gradient(top, #ee5f64 0%, #d3505a 100%);
    background-image: -o-linear-gradient(top, #ee5f64 0%, #d3505a 100%);
    background-image: -ms-linear-gradient(top, #ee5f64 0%, #d3505a 100%);
    background-image: linear-gradient(to bottom, #ee5f64 0%, #d3505a 100%);
    border: 1px solid #D13644;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.4);
    color: #fff;
    display: inline-block;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 11px 45px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(142,4,17,0.5);
    transition: background-position 0.1s linear;
    width: auto;
}
.pkt_ext_containersignup .btn-important {
    background-color: #fcc164;
    background-image: -moz-linear-gradient(top, #fbd95c 0%, #fcc164 100%);
    background-image: -webkit-gradient(left top, left bottom, color-stop(0%, #fbd95c), color-stop(100%, #fcc164));
    background-image: -webkit-linear-gradient(top, #fbd95c 0%, #fcc164 100%);
    background-image: -o-linear-gradient(top, #fbd95c 0%, #fcc164 100%);
    background-image: -ms-linear-gradient(top, #fbd95c 0%, #fcc164 100%);
    background-image: linear-gradient(to bottom, #fbd95c 0%, #fcc164 100%);
    border-color: #e1b231;
    color: #222;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.pkt_ext_containersignup .btn-secondary {
    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background-image: -webkit-gradient(left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f2f2f2));
    background-image: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background-image: -ms-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #f2f2f2 100%);
    border-color: #d8d8d8;
    color: #222;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.pkt_ext_containersignup .btn-small {
    padding: 6px 20px;
}
.pkt_ext_containersignup .btn-mini {
    font-size: 14px;
    padding: 5px 15px 4px;
}
.pkt_ext_containersignup .btn:hover {
    background-position: 0 -15px;
    color: #fff;
    text-decoration: none;
}
.pkt_ext_containersignup .btn-secondary:hover,
.pkt_ext_containersignup .btn-important:hover {
    color: #222;
}
.pkt_ext_containersignup .btn:active,
.pkt_ext_containersignup .btn:focus {
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0, 0.15);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0, 0.15);
    background-image: none;
    color: #fff;
    outline: 0;
    text-decoration: none;
    box-shadow: inset 0 0 6px rgba(0,0,0, 0.15);
}
.pkt_ext_containersignup .btn-secondary:active,
.pkt_ext_containersignup .btn-secondary:focus,
.pkt_ext_containersignup .btn-important:active,
.pkt_ext_containersignup .btn-important:focus {
    color: #222;
    text-decoration: none;
}
.pkt_ext_containersignup .btn-disabled {
    background-image: none;
    color: #ccc;
    color: rgba(255,255,255,0.6);
    cursor: default;
    opacity: 0.9;
}
.pkt_ext_containersignup .btn-disabled:hover,
.pkt_ext_containersignup .btn-disabled:active,
.pkt_ext_containersignup .btn-disabled:focus {
    -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.4);
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.4);
    background-position: 0 0;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.4);
    color: #ccc;
    color: rgba(255,255,255,0.6);
}
.pkt_ext_containersignup .btn-secondary-disabled,
.pkt_ext_containersignup .btn-important-disabled,
.pkt_ext_containersignup .btn-secondary-disabled:hover,
.pkt_ext_containersignup .btn-important-disabled:hover,
.pkt_ext_containersignup .btn-secondary-disabled:active,
.pkt_ext_containersignup .btn-important-disabled:active,
.pkt_ext_containersignup .btn-secondary-disabled:focus,
.pkt_ext_containersignup .btn-important-disabled:focus {
    color: #4e4e4e;
    color: rgba(34,34,34,0.6);
}
.pkt_ext_containersignup .signup-btn-google,
.pkt_ext_containersignup .signup-btn-email,
.pkt_ext_containersignup .signupinterim-btn-login,
.pkt_ext_containersignup .signupinterim-btn-signup,
.pkt_ext_containersignup .forgot-btn-submit,
.pkt_ext_containersignup .forgotreset-btn-change {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    min-width: 12.125em;
    padding: 0.8em 1.625em;
    box-sizing: content-box;
}
.pkt_ext_containersignup .signup-btn-email {
    position: relative;
    z-index: 10;
}
.pkt_ext_containersignup .signup-btn-google {
    min-width: 15.375em;
    position: relative;
    padding: 0;
}
.pkt_ext_containersignup .signup-btn-google .logo {
    background: url(../sites/global/signup_gplusbuttonlogo@1x.png) center center no-repeat;
    border-right: 1px solid #e5767b;
    float: left;
    height: 2.6em;
    margin: 0;
    padding: 0;
    width: 42px;
    position: relative;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    .pkt_ext_containersignup .signup-btn-google .logo {
        background-image: url(../sites/global/signup_gplusbuttonlogo@2x.png);
        background-size: 30px 30px;
    }
}
.pkt_ext_containersignup .forgotreset-btn-change {
    margin-bottom: 2em;
}
.pkt_ext_containersignup .signup-btn-google .text {
    display: inline-block;
    padding: 0.8em 1.625em;
    position: relative;
    text-shadow: none;
    white-space: nowrap;
}
.pkt_ext_containersignup .signup-btn-google .text {
    color: #fff;
}
.pkt_ext_containersignup .btn-disabled .text {
    color: #ccc;
    color: rgba(255,255,255,0.6);
}