#ni-container {
	width:100%;
	z-index:1000;
	position:fixed;
    border-bottom:3px solid black;
    display:none;
}
#ni-header {
	height:46px;
	display:none;
}
.ni-whitebg {
	background:white;
}
.ni-loader {
	background:url('chrome-extension://pfjnpblfpdeldjpfoknmnmbeggghfgoc/images/loader.gif') white no-repeat;
	background-position:2% 50%;
}
.ni-bg {
	opacity:0.5;
}
#ni-title {
	margin:auto;
	padding-top:3px;
	text-align:center;
	font-size:14px;
}
#ni-title a {
	color:#00458B;
	outline:none;
	text-decoration:none;
}
#ni-title a:hover {
	text-decoration:underline;
}
#ni-rating {
    margin:auto;
    width:271px;
    padding-top:5px;
}
#ni-rating-stars {
    float:left;
    width:200px;
}
#ni-rating-value {
    float:left;
	padding-left:10px;
    font-weight:bold;
    font-size:16px;
    color:#CCC;
    line-height:23px;
}
.ni-gold {
    color:#A58600;
}
.ni-star-img {
    background: url('chrome-extension://pfjnpblfpdeldjpfoknmnmbeggghfgoc/images/sprite.png') repeat-x;
    width:200px;
    height:20px;
}
.ni-gstar {
    background-position:0px -20px;
    margin-top:-20px;
    width:114px;
}
#ni-more-details {
	float:left;
	padding-top:6px;
	width:10%;
}
#ni-more-details td {
	font-size:10px;
	color:#888;
}
.clear {
    clear:both;
}
