<div class="container main">

  <div class="ext-navbar">
    <a class="icon close-icon">
      <div class="ss-delete"/>
    </a>
    <span class="logo">
      <img class="honey-logo" src="https://storage.googleapis.com/honey-extension/images/assets/honeyLogo_grey_45px.png"/>
    </span>
<!--     <a class="icon settings-icon">
      <div class='ss-settings'/>
    </a> -->
    <div id="notifs" hidden>
      These are your notifications
    </div>
  </div>

  <div class="tutorial-panel"/>

  <div class="content-panels">

    

    <div class="tabs">
      <div class="gab-share-handle top-handle">
        <span class="unlock-icon ss-unlock"></span>
        <div class="gab-link share-button">GIVE A FRIEND A BUCK</div>
      </div>
<!-- 
      <div id="profile-handle" class="top-handle">
        <div class="profile-icon"></div>
        <div class="profile-content">
          <div class="logged-out">
            <span class="sign-up blue-text">Sign-up</span> or 
            <span class="log-in blue-text">log in</span> to earn Honey exclusives!
          </div>
          <div class="logged-in">
          </div>
        </div>
        <div class="expand-arrow">
          >
        </div>
      </div> -->

      <div id="apply-tab"/>

      <div class="tab" id="coupons-tab">
        <div class="tab-handle waves-effect waves-dark">
          <span class="badge-icon num-coupons">{{num_coupons}}</span>
          <span class="title">coupons</span>
          <span class="icon right-arrow">
            <span class="expand-icon">+</span>
          </span>
        </div>
        <div class="tab-content">
          <div class="container coupons">
            <div class="content">
              
            </div>

            <div class="view-all">
              view all
            </div>
          </div>

        </div>
      </div>

      <div class="tab" id="sales-tab">
        <div class="tab-handle waves-effect waves-dark">
          <span class="badge-icon num-sales">{{num_sales}}</span>
          <span class="title">sales</span>
          <span class="icon right-arrow">
            <span class="expand-icon">+</span>
          </span>
        </div>
        <div class="tab-content">
          <div class="container sales">
            <div class="content">
            </div>
            <div class="view-all">
              view all
            </div>
          </div>
        </div>
      </div>

  <!--     <div class="tab" id="profile-tab">
        <div class="tab-handle waves-effect waves-light">
          <span class="badge-icon profile-icon">
          </span>
          <span class="title">sign in</span>
          <span class="icon right-arrow"></span>
        </div>
        <div class="tab-content">
        </div>
      </div> -->

      <div id="contact-banner">
        <div id="contact-content">
          <span id="contact-btn">CONTACT US</span>
          <span class="share-options">
            <img class="twitter-icon" src="https://storage.googleapis.com/honey-extension/images/twitter-icon.png"></img>
            <img class="facebook-icon" src="https://storage.googleapis.com/honey-extension/images/facebook-icon.png"></img>
<!--             <img class="share-email" src="https://storage.googleapis.com/honey-extension/images/email-icon.png"></img> -->
          </span>
        </div>
      </div>

    </div>

  </div>

</div>
