<div id="pop-up">
  <header class="pop-up-header">
    <div class="close"><a href="#"></a></div>
    <div class="logo2">
      <img src="https://storage.googleapis.com/honey-extension/images/assets/honeyLogo_grey_45px.png">
    </div>
  </header>
  <div class="pop-up-content">
    <h3 class="trying-message">{{negotiating_msg}}</h3>

    <div class="results-line-space"></div>   

    <div class="progress-bar">
      <div class="progressbar-outer">
        <div class="progressbar-inner"></div>
      </div>
      <div class="results-line-space"></div>
    </div>

    <div class="results-line trying">
      <div class="trying-text">
        TRYING 
        <span class="curr-coup">{{curr_code_num}}</span>/<span class="max-coup">{{total_codes}}</span>  
      </div>
      
      <div class="centered-text code-description">
        <div class="results-line code-trying">
          <b> <span class="curr-code"> </span> </b>
          <span class="curr-description"> </span>
        </div>
      </div>
    </div>

<!--     <img class="loading" src="https://sbcloud.joinhoney.com/resources/img/loading2.gif"> -->
    <div class="pop-up-content cancel">Cancel</div>
  </div>
</div>