#alientube {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin-top: 30px;
  padding-bottom: 20px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  #alientube a {
    color: #0066aa;
    cursor: pointer; }
  #alientube a:hover {
    color: #0066aa;
    text-decoration: underline; }
  #alientube .button {
    user-select: none;
    padding: 6px;
    border-radius: 1px;
    border: 1px solid #c4dbf1;
    background-color: white;
    color: #336699;
    height: auto;
    cursor: pointer; }
    #alientube .button:hover {
      border-color: #336699;
      background-color: aliceblue;
      outline: none; }
  #alientube .at_load {
    color: #0066aa;
    font-size: x-small;
    cursor: pointer;
    font-weight: bold;
    padding-left: 25px; }
    #alientube .at_load:hover {
      text-decoration: underline; }
    #alientube .at_load.loading {
      color: #ff0000; }
      #alientube .at_load.loading:hover {
        text-decoration: none; }
    #alientube .at_load.loading + .at_replycount {
      display: none; }
  #alientube .at_replycount {
    color: #a2a2a2;
    font-size: x-small; }
  #alientube .single_line {
    text-align: center;
    padding-top: 20px;
    padding-left: 30px; }
  #alientube .error {
    padding-left: 20px;
    display: table; }
    #alientube .error img {
      display: table-cell;
      width: 120px;
      height: auto;
      vertical-align: middle; }
    #alientube .error div {
      box-sizing: border-box;
      width: 430px;
      display: table-cell;
      vertical-align: middle;
      padding-left: 20px; }
      #alientube .error div h1 {
        font-size: 120%;
        margin: 0; }
      #alientube .error div p {
        display: inline-block;
        color: #c92323; }
  #alientube header {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    line-height: 1.25;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    padding-right: 110px;
    box-sizing: border-box; }
    #alientube header .info {
      width: 100%; }
    #alientube header .title {
      font-size: 130%; }
    #alientube header .at_author[data-username="[deleted]"] {
      color: #737373;
      font-weight: normal;
      pointer-events: none;
      font-style: italic; }
    #alientube header .vote {
      float: none;
      display: inline-block;
      vertical-align: middle;
      margin-top: 5px;
      margin-right: 10px; }
    #alientube header .at_official {
      border: solid 1px #579654;
      color: #579654 !important;
      margin-top: 8px;
      padding: 1px 3px;
      border-radius: 3px;
      display: none;
      font-size: x-small; }
  #alientube .tagline {
    font-size: x-small;
    color: #a2a2a2;
    margin-top: 3px;
    display: block; }
  #alientube .options {
    width: 100%;
    padding-top: 5px;
    font-size: 80%;
    font-weight: bold;
    display: block; }
    #alientube .options .sort {
      color: gray;
      font-weight: bold;
      border: none !important;
      text-decoration: underline;
      outline: 0;
      background-color: transparent; }
    #alientube .options > span, #alientube .options > a {
      cursor: pointer;
      text-decoration: none;
      color: #868686 !important;
      padding-right: 4px; }
      #alientube .options > span:hover, #alientube .options > a:hover {
        color: #868686 !important;
        text-decoration: underline; }
  #alientube .vote {
    float: left; }
    #alientube .vote .arrow {
      background-repeat: no-repeat;
      height: 14px;
      cursor: pointer;
      width: 15px;
      margin-left: auto;
      margin-right: auto;
      outline: none;
      background-image: url(https://www.redditstatic.com/sprite-reddit.u1Nao8_niV4.png); }
      #alientube .vote .arrow.up {
        background-position: -84px -799px; }
      #alientube .vote .arrow.down {
        background-position: -42px -799px; }
    #alientube .vote.liked .arrow.up {
      background-position: -105px -799px; }
    #alientube .vote.liked .score {
      color: #ff8b60; }
    #alientube .vote.disliked .arrow.down {
      background-position: -63px -799px; }
    #alientube .vote.disliked .score {
      color: #9494ff; }
    #alientube .vote .score {
      color: #c6c6c6;
      text-align: center;
      font-weight: bold;
      font-size: x-small;
      padding-top: 3px;
      padding-bottom: 3px; }
  #alientube .at_maximise {
    font-size: x-small;
    padding-left: 20px; }
  #alientube article {
    font-family: verdana, sans-serif;
    word-wrap: break-word;
    break-word: all;
    padding-bottom: 10px; }
    #alientube article .at_togglehide:before {
      content: "[-]"; }
    #alientube article .info {
      font-size: x-small;
      padding-bottom: 5px;
      margin-left: 0;
      color: #a2a2a2; }
    #alientube article .at_author {
      font-weight: bold; }
      #alientube article .at_author[data-username="[deleted]"] {
        color: #737373;
        font-weight: normal;
        pointer-events: none;
        font-style: italic; }
      #alientube article .at_author[data-reddit-op] {
        color: #FFFFFF !important;
        font-weight: bold;
        padding: 0 2px 0 2px;
        border-radius: 3px;
        background-color: #0055DF; }
    #alientube article .vote {
      margin-top: 5px; }
      #alientube article .vote .arrow {
        padding-top: 3px;
        padding-bottom: 3px; }
    #alientube article .at_score {
      font-weight: bold;
      color: #333; }
    #alientube article .at_commentcontent p {
      margin-top: 5px;
      margin-bottom: 5px; }
    #alientube article .at_commentcontent blockquote {
      border-left: 3px solid #a4b0cb;
      padding-left: 5px; }
    #alientube article.hidden {
      padding-top: 0;
      padding-bottom: 10px !important; }
      #alientube article.hidden .at_author {
        color: gray !important;
        background: transparent; }
      #alientube article.hidden .at_togglehide:before {
        content: "[+]";
        color: gray; }
      #alientube article.hidden .options, #alientube article.hidden .vote, #alientube article.hidden .at_replies, #alientube article.hidden .at_commentcontent {
        display: none; }
    #alientube article.deleted > .at_commentmain > .options {
      display: none; }
    #alientube article.deleted > .at_commentmain > .at_commentcontent {
      display: inline-block;
      color: gray;
      background-color: #f0f0f0;
      padding-left: 5px;
      padding-right: 5px; }
    #alientube article.edited .at_timestamp:after {
      content: "*"; }
  #alientube .at_replies {
    padding-top: 15px;
    padding-left: 15px; }
    #alientube .at_replies article {
      border-left: dotted 1px #cacaca;
      padding-left: 10px;
      padding-bottom: 0; }
  #alientube .at_flair {
    padding: 0 2px;
    background: #f5f5f5;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 2px; }
  #alientube .nsfw {
    cursor: default;
    font-weight: 300;
    padding-right: 4px;
    color: #ac3939;
    font-size: x-small;
    text-decoration: none;
    padding: 0 2px;
    border: 1px solid #d27979 !important;
    border-radius: 3px; }
    #alientube .nsfw:hover {
      color: #ac3939;
      text-decoration: none; }
  #alientube .at_gilded {
    display: none;
    color: #99895F;
    font-size: .9em;
    vertical-align: middle;
    background-image: url(https://www.redditstatic.com/sprite-reddit.jzJhk9_9j8Q.png);
    background-position: -84px -818px;
    background-repeat: no-repeat;
    height: 14px;
    width: 13px; }
    #alientube .at_gilded[data-count] {
      display: inline-block;
      overflow: visible; }
      #alientube .at_gilded[data-count]:after {
        display: inline-block;
        margin-left: 15px;
        vertical-align: middle;
        overflow: visible;
        content: attr(data-count) "x"; }
  #alientube .at_report {
    background: #f6e69f;
    border: thin solid #d8bb3c;
    border-radius: 3px;
    margin-top: 10px;
    width: 220px;
    padding: 10px; }
    #alientube .at_report ul li {
      list-style: none;
      margin: 5px 0; }
    #alientube .at_report input[type=text] {
      width: 100%;
      font-size: 120%;
      border: 1px solid #c4dbf1; }
      #alientube .at_report input[type=text]:disabled {
        background: #dddddd; }
  #alientube .at_commentfield {
    margin-top: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300; }
    #alientube .at_commentfield .at_textarea {
      width: 100%;
      min-height: 120px; }
    #alientube .at_commentfield .at_writingauthor {
      float: right; }
    #alientube .at_commentfield .at_comment_preview {
      display: none;
      position: relative;
      min-height: 85px;
      width: 100%;
      background-color: #f0f3fc;
      margin-top: 20px; }
      #alientube .at_commentfield .at_comment_preview .at_preview_header {
        font-size: 130%;
        padding: 10px;
        vertical-align: middle;
        line-height: 20px; }
      #alientube .at_commentfield .at_comment_preview .at_preview_contents {
        box-sizing: border-box;
        padding: 10px;
        background: repeating-linear-gradient(-45deg, transparent, transparent 40px, rgba(166, 166, 166, 0.06667) 40px, rgba(166, 166, 166, 0.06667) 80px) white;
        min-height: 50px;
        width: 100%;
        margin-top: 10px; }
  #alientube #at_switchtogplus {
    right: 20px; }

.at_commentmain {
  margin-left: 20px; }

.at_tab {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  position: relative;
  z-index: 1;
  font-family: Verdana, sans-serif !important;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  margin-bottom: -1px;
  margin-left: -5px;
  height: 33px;
  background-color: #f8f8f8;
  background-image: linear-gradient(to bottom, #fcfcfc 0, #f8f8f8 100%);
  overflow: hidden;
  font-size: 12px !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #d3d3d3;
  color: #333; }
  .at_tab > a {
    color: #333333 !important;
    pointer-events: none; }
  .at_tab:hover {
    border: 1px solid #9c9c9c;
    z-index: 50; }
  .at_tab:focus {
    outline: 0; }
  .at_tab.active {
    background-color: #fff;
    border: 1px solid #c6c6c6;
    border-bottom: 1px solid #fff;
    box-shadow: inset 0 1px 0 #ddd;
    background-image: none;
    z-index: 50; }
    .at_tab.active:hover {
      border-bottom: 1px solid #fff; }
    .at_tab.active > a {
      pointer-events: auto;
      color: #0066aa !important; }
  .at_tab.border {
    border-left: 1px solid #d3d3d3; }

.signedout .arrow,
.preserved .arrow {
  pointer-events: none;
  opacity: 0.5; }
.signedout .at_submit,
.preserved .at_submit {
  display: none; }

#at_tabcontainer {
  margin-left: 4px;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row; }

#at_comments {
  padding-left: 20px;
  padding-right: 20px; }
  #at_comments.signedout .commentTo, #at_comments.signedout .at_reply, #at_comments.signedout .report, #at_comments.signedout .at_edit, #at_comments.signedout .at_delete, #at_comments.signedout .giveGold, #at_comments.preserved .commentTo, #at_comments.preserved .at_reply, #at_comments.preserved .report, #at_comments.preserved .at_edit, #at_comments.preserved .at_delete, #at_comments.preserved .giveGold {
    display: none; }
  #at_comments.signedout .save {
    display: none; }

.at_loadmore {
  padding-bottom: 10px !important; }

@-moz-document url-prefix() {
  .at_tab {
    padding-left: 8px;
    padding-right: 8px; } }
#at_overflow {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  vertical-align: bottom;
  margin-left: -5px;
  width: 33px;
  height: 32px;
  background-color: #f8f8f8;
  background-image: linear-gradient(to bottom, #fcfcfc 0, #f8f8f8 100%);
  opacity: 0.5;
  border: 1px solid #d3d3d3;
  border-left: none;
  border-bottom: none; }
  #at_overflow:focus {
    outline: 0; }
  #at_overflow:hover {
    opacity: 1; }
  #at_overflow img {
    position: absolute;
    top: 50%;
    left: 8px; }
  #at_overflow ul {
    min-width: 130px;
    max-width: 250px;
    text-overflow: ellipsis;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    opacity: 1;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #fff;
    margin-top: 30px;
    display: none;
    position: relative;
    white-space: nowrap;
    float: left;
    z-index: 100;
    -webkit-transition: opacity 1s easy-in;
    -moz-transition: opacity 1s easy-in;
    transition: opacity 1s easy-in; }
    #at_overflow ul li {
      line-height: 1.8;
      padding-left: 10px;
      padding-right: 10px; }
      #at_overflow ul li:hover {
        background: #333;
        color: #fff; }

.at_error {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .at_error img {
    max-width: 500px;
    max-height: 400px; }
  .at_error h2 {
    font-size: 200%;
    font-weight: 200; }
  .at_error button, .at_error p {
    margin-top: 10px; }

a[href$="/s"],
a[href$="/spoiler"] {
  cursor: default;
  background: #000 !important;
  color: #000 !important;
  line-height: 1.4;
  border: 1px solid black;
  padding-right: 1px; }

a[href$="/s"]:hover,
a[href$="/spoiler"]:hover {
  color: #fff !important; }

a[href$="/s"]::before,
a[href$="/spoiler"]::before {
  background: #FFF !important;
  color: #000 !important;
  padding: 0px 1px;
  margin: 0px;
  margin-right: 1px;
  content: "Spoiler"; }

.loading {
  height: 200px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .loading > .spinner, .loading > #textContainer {
    display: inline-block;
    vertical-align: middle; }
  .loading > #textContainer {
    margin-left: 20px; }
    .loading > #textContainer > h2 {
      font-size: 150%;
      font-weight: 200; }
    .loading > #textContainer p {
      margin-top: 10px; }

.spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative; }

.cube1, .cube2 {
  background-color: #ff5500;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out; }

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

@-webkit-keyframes cubemove {
  25% {
    -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(22px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg); } }
@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5); }
  50% {
    /* Hack to make FF rotate in the right direction */
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg); }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg); }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg); } }
#at_switchtogplus,
#at_switchtoreddit {
  position: absolute;
  top: 20px;
  right: 0;
  opacity: 0.5;
  cursor: pointer;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px; }
  #at_switchtogplus.noresults,
  #at_switchtoreddit.noresults {
    pointer-events: none; }
  #at_switchtogplus:hover,
  #at_switchtoreddit:hover {
    opacity: 0.8; }
  #at_switchtogplus:active,
  #at_switchtoreddit:active {
    opacity: 1; }
  #at_switchtogplus svg,
  #at_switchtoreddit svg {
    width: 24px;
    height: 24px;
    display: inline-block; }
  #at_switchtogplus span,
  #at_switchtoreddit span {
    vertical-align: top;
    line-height: 24px; }

#at_switchtoreddit {
  display: none;
  position: static;
  margin-top: 10px;
  margin-right: 10px;
  float: right; }

body.darkmode #alientube {
  background: #242424 !important;
  color: #fff; }
  body.darkmode #alientube .at_tab {
    background: linear-gradient(#414141 0px, #2e2e2e 100%);
    border: 1px solid #2e2e2e;
    text-shadow: none;
    color: #fff; }
    body.darkmode #alientube .at_tab a {
      color: #f0f0f0 !important; }
    body.darkmode #alientube .at_tab.active {
      background: #242424;
      border: 1px solid #2e2e2e;
      border-bottom: none; }
      body.darkmode #alientube .at_tab.active a {
        color: #0066aa !important; }
  body.darkmode #alientube #at_overflow {
    background-image: linear-gradient(#414141 0px, #3c3c3c 100%);
    border: 1px solid #2e2e2e; }
    body.darkmode #alientube #at_overflow:hover {
      background-image: #575757; }
    body.darkmode #alientube #at_overflow ul {
      background: #262626; }
  body.darkmode #alientube .at_score, body.darkmode #alientube .at_commentcontent > span > p {
    color: #f6f6f6 !important; }
  body.darkmode #alientube article.deleted > .at_commentmain > .at_commentcontent {
    background: #4f4f4f; }
body.darkmode #at_switchtogplus svg, body.darkmode #at_switchtoreddit svg {
  fill: #fff; }

#allowOnChannelContainer {
  margin-left: 15px; }

/*# sourceMappingURL=style.css.map */
